

.body-color {
    background-color: #D36532;
    
}

html {
    cursor: url('./images/Homework-Cursor.png'), auto;
    height: 100%;
   }


.navbar-bg {
    background-color: #D36532;
     border-bottom: yellow;
} 


.mynav {
    background-image: url(./images/DIPLO-LIGHTS\ ALL\ NIGHT\ 2.jpg.jpg);
    background-size: 2400px auto; 
    background-position: center;  
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    height: 850px; background-color: #D36532; background-clip: content-box; 
    border-bottom: yellow;
}

.nav-margin { 
    margin:  0 auto;
}

.brand {
    font-size: large; 
    color: yellow; 
    font-family: 'Press Start 2P', cursive; 
    margin: 15px 0px 15px 45px;
}

.brand-item{ 
    font-size: large; 
    color: yellow; 
    font-family: 'Press Start 2P', cursive; 
    margin: 0 10px;  }

.navbar .navbar-nav {
    margin: 0 auto;
}


#AboutMe { 
    width: 1400px; 
    margin: auto; 
    padding-top: 200px;
}

#Portfolio {
    width: 1400px; 
    margin: auto; 
    padding-top: 200px;
}


#Contact {
    width: 1400px; 
    margin: auto; 
    padding-top: 200px;
}



h2 {
    font-size: x-large; 
    color: yellow; 
    font-family: 'Press Start 2P', cursive; 
    line-height: 300px; 
}



.green-border { 
    border-bottom: #77F5C2 solid 5px ;  
}


p{
    font-size: 25px; 
    color: white; 
    font-family: 'Exo 2', sans-serif; 
}

.img-logo { 
    width: 500px; 
    height: auto;
}

.img-gif { 
    width: 550px; 
    height: auto;  
    border: #77F5C2 solid 4px ; 
    padding: 5px; 
    margin-left: 60px; 
}

.Portfolio-Row { 
    line-height: 450px; 
    align-content: center;
 }

.Portfolio-Row-Text {
    line-height: 20px; 
    align-content: center; 
    width: 550px; 
    background-color: #77F5C2; 
    color: yellow; 
    font-family: 'Press Start 2P', cursive; 
    font: 22px bold;
    border: yellow solid 2px ;  
    margin: -30px 0px 0px 60px;  
    text-align: center;
}


.thumbnail {
    background-color: blue; 
    line-height: 125px;
     margin: 20px;
    }




/* Contact Form CSS */

.get_in_touch {
    max-width: 800px;
    margin:50px auto;
    position: relative;
    padding: 150px 30px 30px 30px;


}

.get_in_touch .title {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-size: 3em;
    line-height: 48px;
    padding-bottom: 20px;
    color: yellow;
    background: linear-gradient(to bottom, rgb(251, 255, 4) 0%, rgb(241, 160, 7) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
}


.contact-form .form-field {
    
    position:relative ;
    margin: 32px 0px 30px 300px;
}


.get_in_touch .contact-container{
 
    position:relative ;
    text-align: center;
}

.contact-form .input-text {
    display: block;
    width: 100%;
    height: 36px;
    border-width: 0 0 2px 0;
    border-color: yellow;
    font
    font-size: 18px;
    line-height: 26px;
    font-weight: 400px;
    font-family: 'Press Start 2P', cursive;
    color: black;
    font-family: 'Exo 2', sans-serif; 
}


.contact-form  .input-text:focus + .label,
.contact-form  .input-text:focus .input-text.not-empty + .label{
    transform: translateY(-24px)
}

.contact-form  .input-text:focus{
    outline: none;
}

.contact-form .label{
    position: absolute;
    left: 20px;
    bottom: 30px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400px;
    color: yellow;
    cursor: text;
    transition: transform 0.2s ease-in-out;
}

.contact-form .submit-btn {
    display: inline-block;
    background-image: linear-gradient(90deg, yellow, orange);
    color: #fff;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-size: 16px;
    border: none;
    width: 200px;
    
}
